.horizontal-line {
  border: 1px solid #e4e7eb;
}

.answer-text {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 16px;
}

@media (max-width: 576px) {
  .answer-text {
    font-size: 12px;
  }
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .image {
    width: 15px;
    height: 15px;
  }
}

.faq-list-item {
  width: 100%;
  border: 1px solid #d7dae6;
  border-radius: 16px;
  margin-bottom: 24px;
  padding: 16px;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.question {
  color: #52606d;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .question {
    font-size: 24px;
  }
}
